@font-face {
    font-family: Avenir;
    src: local('Avenir LT 65 Medium.ttf'), url('./fonts/Avenir LT 65 Medium.ttf');
}

@font-face {
    font-family: AvenirBlack;
    src: local('Avenir LT 95 Black.ttf'), url('./fonts/Avenir LT 95 Black.ttf');
}

@font-face {
    font-family: Calibri;
    src: local('Calibri.ttf'), url('./fonts/Calibri.ttf');
}

@font-face {
    font-family: CalibriBold;
    src: local('Calibri Bold.ttf'), url('./fonts/Calibri Bold.ttf');
}

body
{
	margin:0;
	padding:0;
	background:#F5F5F5;
	font-family: Avenir;
	font-size: 16px;
	color: #1a1364;
}

#Container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;	
}

.Clear {
	clear: both;
}

.WideContent{
 	display: block;
	/*-webkit-border-radius: 10px;
	-moz-border-radius: 10px;*/
	background-color: #fff;
	/* min-height: 400px;
	height: 100%;*/
	width: 76.5vw;
	min-width: 600px;
	min-height: 80%;
	float: left;
	padding: 5px 5px 0 10px;
}

.LeftColumn {
	width: 16vw;
	min-width: 120px;
	float: left;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c4c7c8+51,f7f7f7+100 */
background: rgb(196,199,200); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(196,199,200,1) 51%, rgba(247,247,247,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(196,199,200,1) 51%,rgba(247,247,247,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(196,199,200,1) 51%,rgba(247,247,247,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c7c8', endColorstr='#f7f7f7',GradientType=1 ); /* IE6-9 */
}

.LeftColumnLogo {
	background: #F5F5F5;
	padding: 20px;
}

.LeftColumnLogo img {
	width: 12.7vw;
	min-width: 80px;
}

.Header {
	padding-top: 10px;
}

.HeaderLogo {
	float: left;
}

.HeaderLogo img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.HeaderExchangeRates {
	margin-left: 10px !important;
	float: left;
	border-color: #dbdbde;
	background-color: #F5F5F5;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	padding: 1px;
}

.HeaderExchangeRates ul {
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;	
}

#HeaderUserMenu {
	float: right;
}

.HeaderMenu li {
	list-style: none;
	float: left;
	position: relative;
	margin: 0;
	padding: 0;
}

.HeaderMenu li a {
	background-color: #140EC9;
	border-left: 1px solid #191919;
	border-right: 1px solid rgba(255, 255, 255, 0.05);
	color: #EEE;
	display: block;
	font-size: 13px;
	line-height: 42px;
	padding: 0 14px;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
} 

.HeaderMenu {
	width: 700px;
}

.FlashMessages {
	min-width: 500px;
	background-color: #FFF;
}

.FlashMessages div {
	margin: 5px;
}

.FlashMessages p {
	width: 90%;
	margin: 5px auto 5px auto;
}

.SuccessFlashMessage {
	background: #89F590 url('images/log_severity1.gif') no-repeat;
}

.ErrorFlashMessage {
	background: #F59667 url('images/log_severity4.gif') no-repeat;
}

.WarningFlashMessage {
	background: #E6ED1C url('images/log_severity3.gif') no-repeat;
}

.NoticeFlashMessage {
	background: #79C2ED url('images/log_severity2.gif') no-repeat;
}

.DebugFlashMessage {
	background: #E637E0 url('images/log_severity5.gif') no-repeat;
}

.LeftColumnFlashMessages {
	float: left;
	width: 77.5vw;
}

td.FormLabel {
	text-align: right;
}

.icon-spinner {
	background: transparent url('images/ajax-loader.gif') no-repeat;
	width: 16px;
	margin-top: 80px;
}

#tabnav, ul.tabnav {
    height: 20px;
    padding-left: 10px;
    background: url(../Styles/images/tab_bottom.gif) repeat-x bottom;
    margin: 0;
}

#tabnav li, ul.tabnav li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#tabnav a:link.active, #tabnav a:visited.active, .tabnav a:link.active, .tabnav a:visited.active {
    border-bottom: 1px solid #fff;
    background: #fff;
    color: #000;
}

#tabnav a:link, #tabnav a:visited, .tabnav a:link, .tabnav a:visited {
    float: left;
    line-height: 14px;
    font-weight: 700;
    margin-right: 3px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #666;
    background: url(../Styles/images/tab_bg.gif) repeat-x;
    padding: 2px 5px;
}

.BreadCrumbsList {
	list-style: none;
	margin: 0;
	padding: 0;
}

.BreadcrumbItem {
	font-size: 1em;
	padding-bottom: 4px;
	border-bottom: 1px solid #DCDFE2;
	padding-left: 6px;
	display: inline;
}

.BreadcrumbItem a {
	padding-right: 10px;
	background: url('../Styles/images/BreadcrumbSep.png') no-repeat right;
}

.MainMenu,.MainMenuVertical li {
	margin: 5px 0 0 0;
} 

.MainMenu span.MenuItemText {
	margin: 5px 0 0 5px;
}

.FormSubmitRow {
	text-align: center;
}

.FormSubmitRow .FormFieldSubmit {
	width: 15vw;
	border-radius: 3px;
	padding: 10px 5px;
	font-size: 1.5vw;
	border: 2px solid #000c98;
	background: #6495ED;
	margin: 10px 0;
}

.ActionsPanel li {
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}

.LeftColumn .InfoLinks a {
	text-decoration: none;
}

div.Footer {
	padding: 10px 10px 100px 10px;
	background: #a9a9a9;
	margin: 20px 0 10px 0;
}

.Footer a {
	text-decoration: none;
}

.Footer div {
	width: 33%;
	float: left;
}

.Footer .Right {
	text-align: right;
}

.Footer .Center {
	text-align: center;
}