<tr class="NewRowQuestionAnswer">
	<td>&nbsp;</td>
	<td><input type="text" name="NewRowQuestionAnswerText" id="NewRowQuestionAnswerText" class="NewRowQuestionAnswerText FormField FormFieldText"/></td>
	<td>
		<input type="hidden" name="NewRowQuestionAnswerOrder" id="NewRowQuestionAnswerOrder" value="{{answerorder}}" />
		&nbsp;&nbsp;
		<a class="NewRowQuestionAnswerSave" href="#"><img src="%%GLOBAL_AppPath%%/images/icon-save.png" /></a> 
		<a class="NewRowQuestionAnswerCancel" href="#"><img src="%%GLOBAL_AppPath%%/images/icon-cancel.png" /></a>
	</td>
</tr>