<tr answerid="{{answerid}}" class="RowQuestionAnswer">
	<td><input type="radio" name="RowQuestionCorrectAnswer" value="{{answerid}}" class="RowQuestionCorrectAnswerRadio" /></td>
	<td style="width: 600px;">{{answertext}}</td>
	<td>
		<input type="hidden" name="RowQuestionAnswerOrder" id="RowQuestionAnswerOrder" value="{{answerorder}}" />
		<a class="RowQuestionEditAnswer" href=#><img src=%%GLOBAL_AppPath%%/images/icon-edit.png /></a> 
		<a class="RowQuestionAddAnswer" href=#><img src=%%GLOBAL_AppPath%%/images/addicon.png /></a> 
		<a class="RowQuestionDeleteAnswer" href=#><img src=%%GLOBAL_AppPath%%/images/delicon.png /></a>
	</td>
</tr>