<tr class="EditRowAnswer" answerid="{{answerid}}">
	<td>&nbsp;</td>
	<td><input type="text" size="40" id="AnswerEditAnswerText" name="AnswerEditAnswerText" class="AnswerEditAnswerText FormField FormFieldText" value="{{answertext}}" /></td>
	<td>
		<a class="AnswerEditAnswerSave" href="#"><img src="%%GLOBAL_AppPath%%/images/icon-save.png" /></a> <a class="AnswerEditAnswerCancel" href="#"><img src="%%GLOBAL_AppPath%%/images/icon-cancel.png" /></a></td>
	</td>
</tr>