<tr>
	<td colspan="3">
		<table class="AnswersTable">
			{{#answers}}
			<tr>
				<td>{{answertext}}</td>
				<td>
					<input type="radio" name="AnswerTableAnswerCorrect" id="AnswerTableAnswerCorrect" value="AnswerTableAnswerCorrect{{answerid}}Selected" />
					<input type="hidden" name="AnswerTableAnswerOrder" id="AnswerTableAnswerOrder" value="{{answerorder}}" />
				</td>
				<td>
					<a class=RowQuestionAnswerEdit href=#><img src=%%GLOBAL_AppPath%%/images/icon-edit.png /></a> 
					<a class=RowQuestionAnswerAdd href=#><img src=%%GLOBAL_AppPath%%/images/addicon.png /></a> 
					<a class=RowQuestionAnswerDelete href=#><img src=%%GLOBAL_AppPath%%/images/delicon.png /></a>
				</td>
			</tr>
			{{/answers}}
			{{^answers}}
			<tr>
				<td>%%LNG_AddFirstAnswer%% <a class="AnswerTableAddFirstAnswer" href="#"><img src="%%GLOBAL_AppPath%%/images/addicon.png" /></a></td>
			</tr>
			{{/answers}}
		</table>
	</td>
</tr>