<div class="CourseModule{{#module.module_user_statussmalltext}} CourseModuleUserStatus{{module.module_user_statussmalltext}}{{/module.module_user_statussmalltext}}{{#AdditionalClasses}} {{AdditionalClasses}}{{/AdditionalClasses}}" id="ModuleId{{module.moduleid}}" moduleid="{{module.moduleid}}">
	<div class="CourseModuleHeading">
		<h4>{{module.modulename}}</h4>
	</div>
	<div class="CourseModuleDetails" style="display: none">
		
	</div>
</div>