<span class="CourseModuleType">%%LNG_CourseModuleTypeLarge%%: {{coursemodule.moduletypetext}}</span>
{{> moduledetails}}
{{#coursemodule.ShowGoButton}}
<a href="%%GLOBAL_AppPath%%/coursemodule/view/{{coursemodule.moduleid}}/{{module.modulenameurl}}">
	<div class="GoToModuleButton">%%LNG_GoToModule%%</div>
</a>
{{/coursemodule.ShowGoButton}}