<tr class="CourseEditCurrentUsersRow" CourseMembersUserId="{{user.userid}}">
	<td>
		{{user.username}}
	</td>
	<td>
		{{user.lastname}}, {{user.firstname}}
	</td>
	<td>
		<select class="CourseEditCurrentUserAccess">
			<option {{#user.user_course_access1}}selected="selected"{{/user.user_course_access1}}{{^user.user_course_access1}} {{/user.user_course_access1}} value="1">%%LNG_CourseStaffLevel1%%</option>
			<option {{#user.user_course_access10}}selected="selected"{{/user.user_course_access10}}{{^user.user_course_access10}} {{/user.user_course_access10}} value="10">%%LNG_CourseStaffLevel10%%</option>
			<option {{#user.user_course_access20}}selected="selected"{{/user.user_course_access20}}{{^user.user_course_access20}} {{/user.user_course_access20}} value="20">%%LNG_CourseStaffLevel20%%</option>
			<option {{#user.user_course_access800}}selected="selected"{{/user.user_course_access800}}{{^user.user_course_access100}} {{/user.user_course_access100}} value="800">%%LNG_CourseStaffLevel800%%</option>
			<option {{#user.user_course_access999}}selected="selected"{{/user.user_course_access999}}{{^user.user_course_access999}} {{/user.user_course_access999}} value="999">%%LNG_CourseStaffLevel999%%</option>
		</select>
	</td>
	<td>
		<a class="CourseEditRemoveCourseUser" href="#"><img src="%%GLOBAL_AppPath%%/images/delicon.png" /></a>
	</td>
</tr>