<tr>
	<td>{{examname}}</td>
	<td>{{username}}</td>
	<td>{{firstname}} {{lastname}}</td>
	<td>{{exam_user_tryno}}</td>
	<td>{{exam_date}}</td>
	<td>{{grade}} ({{correct_answers}}/{{total_questions}})</td>
	<td><a target="_blank" href="%%GLOBAL_AppPath%%/exam/viewsubmit/?examid={{examid}}&userid={{userid}}&tryno={{exam_user_tryno}}&viewhtml=1">%%LNG_ViewExam%%</a></td>
</tr>