<select name="{{name}}" class="{{class}}" id="{{#id}}{{id}}{{/id}}{{^id}}{{name}}{{/id}}">
	{{#options}}
	<option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
	{{/options}}
</select>