<tr class="EditRowCourseModule">
	<td><input type="text" name="EditRowCourseModuleName" id="EditRowCourseModuleName" class="EditRowCourseModuleName FormField FormFieldText" value="{{modulename}}" /></td>
	<td><select name="EditRowCourseModuleType" id="EditRowCourseModuleType" class="EditRowCourseModuleType FormField FormFieldSelect">
		<option {{moduletype_selected0}} value="0">-- %%LNG_SelectOne%% --</option>
		<option {{moduletype_selected1}} value="1">%%LNG_CourseModuleType1%%</option>
		<option {{moduletype_selected2}} value="2">%%LNG_CourseModuleType2%%</option>
		<option {{moduletype_selected3}} value="3">%%LNG_CourseModuleType3%%</option>
			</select>
	</td>
	<td><select name="EditRowCourseModuleObjectId" id="EditRowCourseModuleObjectId" class="EditRowCourseModuleObjectId FormField FormFieldSelect">
			{{#object_options}}
			<option value="{{id}}" {{selected}}>{{name}}</option>
			{{/object_options}}
		</select>
	</td>
	<td><input type="checkbox" name="EditRowCourseModuleRequired" id="EditRowCourseModuleRequired" class="EditRowCourseModuleRequired FormField FormFieldCheckbox" {{modulerequired_checked}} /></td>
	<td>
		<select name="EditRowCourseModuleStatus" id="EditRowCourseModuleStatus" class="EditRowCourseModuleStatus FormField FormFieldSelect">
			<option {{modulestatus_selected1}} value="1">%%LNG_Active%%</option>
			<option {{modulestatus_selected0}} value="0">%%LNG_Blocked%%</option>
		</select>
	</td>
	<td>
		<input type="hidden" name="EditRowCourseModuleOrder" id="EditRowCourseModuleOrder" value="{{moduleorder}}" />
		<input type="hidden" name="EditRowCourseModuleID" id="EditRowCourseModuleID" value="{{moduleid}}" />
		<a class="EditRowCourseModuleSave" href="#"><img src="%%GLOBAL_AppPath%%/images/icon-save.png" /></a> <a class="EditRowCourseModuleCancel" href="#"><img src="%%GLOBAL_AppPath%%/images/icon-cancel.png" /></a></td>
</tr>