<tr class="RowCourseModule" id="RowCourseModuleId{{moduleid}}" moduleid="{{moduleid}}">
	<td>{{modulename}}</td>
	<td>{{moduletypetext}}</td>
	<td>{{moduleobjectname}}</td>
	<td>{{modulerequiredtext}}</td>
	<td>{{modulestatustext}}</td>
	<td>
		<input type="hidden" name="RowCourseModuleOrder" id="RowCourseModuleOrder" value="{{moduleorder}}" />
		<a class="RowCourseModuleEdit" href="#"><img src="%%GLOBAL_AppPath%%/images/icon-edit.png" /></a> 
		<a class="RowCourseModuleAdd" href="#"><img src="%%GLOBAL_AppPath%%/images/addicon.png" /></a> 
		<a class="RowCourseModuleDelete" href="#"><img src="%%GLOBAL_AppPath%%/images/delicon.png" /></a>
	</td>
</tr>