<tr class="NewRowCourseModule">
	<td><input type="text" name="EditRowCourseModuleName" id="EditRowCourseModuleName" class="EditRowCourseModuleName FormField FormFieldText"/></td>
	<td><select name="EditRowCourseModuleType" id="EditRowCourseModuleType" class="EditRowCourseModuleType FormField FormFieldSelect">
		<option value="0">-- %%LNG_SelectOne%% --</option>
		<option value="1">%%LNG_CourseModuleType1%%</option>
		<option value="2">%%LNG_CourseModuleType2%%</option>
		<option value="3">%%LNG_CourseModuleType3%%</option>
			</select>
	</td>
	<td>
		<span id="EditRowCourseModuleObjectId">%%LNG_SelectTypeFirst%%</span>
	</td>
	<td><input type="checkbox" name="EditRowCourseModuleRequired" id="EditRowCourseModuleRequired" class="EditRowCourseModuleRequired FormField FormFieldCheckbox"/></td>
	<td>
		<select name="EditRowCourseModuleStatus" id="EditRowCourseModuleStatus" class="EditRowCourseModuleStatus FormField FormFieldSelect">
			<option value="1">%%LNG_Active%%</option>
			<option value="0">%%LNG_Blocked%%</option>
		</select>
	</td>
	<td>
		<input type="hidden" name="EditRowCourseModuleOrder" id="EditRowCourseModuleOrder" value="{{moduleorder}}" />
		<a class="NewRowCourseModuleSave" href="#"><img src="%%GLOBAL_AppPath%%/images/icon-save.png" /></a> 
		<a class="NewRowCourseModuleCancel" href="#"><img src="%%GLOBAL_AppPath%%/images/icon-cancel.png" /></a>
	</td>
</tr>