<tr class="NewRowExamQuestion">
	<td colspan="2"><input type="text" name="EditRowExamQuestionText" id="EditRowExamQuestionText" class="EditRowExamQuestionText FormField FormFieldText"/></td>
	<td>
		<input type="hidden" name="EditRowExamQuestionOrder" id="EditRowExamQuestionOrder" value="{{questionorder}}" />
		<a class="NewRowExamQuestionSave" href="#"><img src="%%GLOBAL_AppPath%%/images/icon-save.png" /></a> 
		<a class="NewRowExamQuestionCancel" href="#"><img src="%%GLOBAL_AppPath%%/images/icon-cancel.png" /></a>
	</td>
</tr>