<tr newsid="{{news.newsid}}">
	<td>{{news.newsid}}</td>
	<td>{{news.newstitle}}</td>
	<td>{{news.content_cropped}}</td>
	<td>{{news.created_date}}</td>
	<td>{{news.modified_date}}</td>
	<td><a class="NewsAdminNewsDelete" href="%%GLOBAL_AppPath%%/news/delete?newsid={{news.newsid}}">%%LNG_Delete%%</a> | <a class="NewsAdminDeleteNews" href="%%GLOBAL_AppPath%%/news/edit?newsid={{news.newsid}}">%%LNG_Edit%%</a> | <a class="NewsAdminSendEmail" href="%%GLOBAL_AppPath%%/news/sendemail?newsid={{news.newsid}}">%%LNG_SendEmail%%</a></td>
</tr>