<tr questionid={{questionid}} class="EditRowQuestion">
	<td><input type="text" id="EditRowQuestionText" name="EditRowQuestionText" class="EditRowQuestionText FormField FormFieldText" value="{{questiontext}}" /></td>
	<td><a href="#" class="EditRowQuestionEditAnswers">{{answerstotal}}</a></td>
	<td>
		<input type="hidden" name="EditRowExamQuestionOrder" id="EditRowExamQuestionOrder" value="{{questionorder}}" />
		<input type="hidden" name="EditRowExamQuestionId" id="EditRowExamQuestionId" value="{{questionid}}" />
		<a class="EditRowQuestionSave" href="#"><img src="%%GLOBAL_AppPath%%/images/icon-save.png" /></a> <a class="EditRowQuestionCancel" href="#"><img src="%%GLOBAL_AppPath%%/images/icon-cancel.png" /></a>
	</td>
</tr>