<tr questionid={{questionid}} class="RowExamQuestionList">
	<td>{{questiontext}}</td>
	<td><a href="%%GLOBAL_AppPath%%/question/edit?questionid={{questionid}}" class="EditRowQuestionEditAnswers">{{answerstotal}}</a></td>
	<td>
		<input type="hidden" name="RowExamQuestionOrder" id="RowExamQuestionOrder" value="{{questionorder}}" />
		<a class=RowExamQuestionEdit href=#><img src=%%GLOBAL_AppPath%%/images/icon-edit.png /></a> 
		<a class=RowExamQuestionAdd href=#><img src=%%GLOBAL_AppPath%%/images/addicon.png /></a> 
		<a class=RowExamQuestionDelete href=#><img src=%%GLOBAL_AppPath%%/images/delicon.png /></a>
	</td>
</tr>