<tr usergroupid="{{groupid}}">
	<td>{{groupname}}</td>
	<td>
		<a class="UserGroupAdminEdit" href="%%GLOBAL_AppPath%%/usergroup/edit/?groupid={{groupid}}"><img src="%%GLOBAL_AppPath%%/images/icon-edit.png" /></a>
		<a class="UserGroupAdminDelete" href="#"><img src="%%GLOBAL_AppPath%%/images/icon-delete.png" /></a>
	</td>
</tr>