<tr videoid="{{videoid}}">
	<td>{{videoid}}</td>
	<td>{{videotitle}}</td>
	<td><img src="http://img.youtube.com/vi/{{videoexternalid}}/default.jpg" /></td>
	<td>
		<a class="VideoAdminEdit" href="%%GLOBAL_AppPath%%/video/edit/?videoid={{videoid}}"><img src="%%GLOBAL_AppPath%%/images/icon-edit.png" /></a>
		<a class="VideoAdminDelete" href="%%GLOBAL_AppPath%%/video/delete/?videoid={{videoid}}"><img src="%%GLOBAL_AppPath%%/images/icon-delete.png" /></a>
	</td>
</tr>