<script src="%%GLOBAL_AppPath%%/javascript/jquery-countdown/jquery.countdownTimer.min.js"></script>
<div class="ExamTimeLeft">
	%%GLOBAL_ExamsTimeLeft%%
</div>
<script lang="text/javascript">
function alertExamTime(){
	alert("%%LNG_ExamTimeUp%%")
}
</script>