%%Panel.HTMLHead%%
<body>
<div id="Container">
%%Panel.LeftColumn%%
<div class="WideContent">
<div class="FileViewContent">
%%GLOBAL_BreadcrumbsList%%
	<h1>%%GLOBAL_FileViewFileTitle%%</h1>
	<p>%%GLOBAL_FileViewFileDesc%%</p>
	<iframe src="http://docs.google.com/gview?url=%%GLOBAL_AppPath%%/%%GLOBAL_FileviewFilePath%%&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe>
</div>
</div><!-- WideContent -->
%%Panel.Footer%%
</div><!-- Container -->
</body>