@CHARSET "ISO-8859-1";

.CourseViewCourseModules .CourseModule {
	margin: 5px 10px;
	padding: 0px 1px;
	border-radius: 8px;
	border: 2px solid #000000;
	background: #E2E2E2;
}

.CourseViewCourseModules .CourseModule.CourseModuleUserStatuscomplete {
	border: 2px solid #000c98;
	background: #144da3;
}

.CourseViewCourseModules .CourseModule.CourseModuleUserStatuscomplete h4 {
	color: #f1e000;
}

.CourseViewCourseModules .CourseModule.CourseModuleUserStatuscomplete span {
	color: #f1e000;
}

.CourseViewCourseModules .CourseModule.CourseModuleUserStatuscomplete h4 {
	font-size: 1.5vw;
}

.CourseViewCourseModules .CourseModule.CourseModuleUserStatusnew {
	border: 2px solid #000000;
	background: #E2E2E2;
}

.CourseViewCourseModules .CourseModule.CourseModuleUserStatusviewed {
	border: 2px solid #213c42;
	background: #5297ff;
}

.CourseViewCourseModules .CourseModule.CourseModuleUserStatusinprogress {
	border: 2px solid #76e6ff;
	background: #5297ff;
}

.CourseViewCourseModules .CourseModule .CourseModuleHeading{
	margin: 10px;
}

/* IMPORTANTE: los browsers por alguna razon padeean alrededor de los headings */ 
.CourseViewCourseModules .CourseModule .CourseModuleHeading h4 {
	margin: 0;
	padding: 0;
}

.CourseViewCourseModules .CourseModule .CourseModuleDetails span {
	display: block;
}

.CourseViewCourseModules .CourseModule .CourseModuleDetails span.CourseModuleDesc {
	margin: 10px 5px 5px 10px;
	font-style: italic;
}

.GoToModuleButton {
	color: #fff5a5;
	margin: 20px;
	padding: 10px;
	border: 5px groove #0b53a0;
	background: #007bfd;
	border-radius: 5px;
	display: inline-block;
}