#VideoPlayerContainer {
	width: 90%;
	position: relative;
}

.VideoControls {
	width: 90%;
	height: 64px;
}

.VideoControls div {
	float: left;
	margin: 1px;
}

.VideoButtons div {
	width: 20px;
	height: 20px;
	float: left;
	margin: 1px;
}

.PlayButton {
	background: url(../../../images/play-circle-8x.png) center right no-repeat;
}

.PauseButton {
	background: url(../../../images/pause-circle-8x.png) center right no-repeat;
}

.FullscreenButton {
	background: url(../../../images/fullscreen-enter-8x.png) center right no-repeat;
}

.RewindButton {
	background: url(../../../images/media-skip-backward-8x.png) center right no-repeat;
	/*margin-left: 40% !important;*/
}

.ForwardButton {
	background: url(../../../images/media-skip-forward-8x.png) center right no-repeat;
}

.VideoControls span{
	float: left;
}

.VideoOverlay {
	position: absolute;
	width: 100%;
	height: 100%;
}

.VideoOverlay img {
	width: 100%;
	height: 100%;
}

#VideoProgressBarOutside {
	border: 1px solid black;
	height: 20px;
	background-color: silver;
	width: 80%;
}
  
#VideoProgressBarInside {
	width: 0px;
	height: 100%;
	background-color: firebrick;
	overflow: visible;
	color: white;
	white-space: nowrap;
}  