@CHARSET "UTF-8";

div.CourseEditCourseDetails {
	float: left;
	padding: 10px;
}

div.CourseEditCourseControls {
	float: right;
	padding: 10px;
}

input#CourseEditResetCourse {
    width: 20vw;
    border-radius: 3px;
    padding: 10px 5px;
    font-size: 1.5vw;
    border: 2px solid #000c98;
    background: #6495ED;
    margin: 10px 0;
}

.NewRowCourseModuleName {
	box-sizing: border-box;
	width: 98%;	
}

#NewRowCourseModuleObjectId {
	width: 127px;
}

.CourseEditCourseModules td {
	border-bottom: solid 1px #000;
}

table#CourseEditCourseModulesTable {
	width: 95%;
}