@CHARSET "ISO-8859-1";

div.Dashboard {
	margin: 10px 0;
	border: 1px solid #000;
	padding: 0 10px;
	border-radius: 4px;
	box-shadow: rgba(0,0,0,0.25) 4px 4px 5px;
	width: 90%;
	background: #e0e0e0;
}

.Dashboard ul {
	list-style: none;
}

.Dashboard li {
	padding: 5px 30px;
	border: 1px solid #000c98;
	border-radius: 5px;
	background: #144da3;
}

.Dashboard li a {
	color: #f1e000;
}

.Dashboard h3 {
	text-shadow: -1px -1px 0 #fff;
	font-family: CalibriBold;
	font-size: 36px;
	margin: 5px 0;
} 