@CHARSET "UTF-8";

.ExamSolveAnswers ul {
	list-style-type: none;
}

.ExamSolveAnswers li {
	font-size: 1vw;
	list-style-type: none;
	margin: 0 5px 5px 5px;
	border: 2px solid #D0D0D0;
	border-radius: 15px;
}

.ExamSolveAnswers input[type="radio"]{
	margin: 10px;
}

h2.ExamSolveQuestionText {
	font-size: 2vw;
}

#QuestionEditQuestionText {
	width: 356px;
	height: 136px;	
}