.ExamViewSubmitQuestionList li.CorrectAnswer {
	font-weight: 900;
}

.ExamViewSubmitQuestionList li.SelectedAnswer .AnswerInline {
	background-color: #ff5b5b;
}

.ExamViewSubmitQuestionList li.CorrectAnswer .AnswerInline {
	background-color: #eaec67;
}

.ExamViewSubmitQuestionList li.SelectedAnswer.CorrectAnswer .AnswerInline {
	background-color: #58d4f1;
}

