%%Panel.HTMLHead%%
<body>
<div id="Container">
%%Panel.LeftColumn%%
<div class="WideContent">
%%GLOBAL_BreadcrumbsList%%
<div class="NewsViewList">
	%%GLOBAL_NewsViewNewsList%%
</div>
</div><!-- WideContent -->
%%Panel.Footer%%
</div><!-- Container -->
<script lang="text/javascript">

</script>
</body>