@CHARSET "ISO-8859-1";

div.NewsItem 	{
	margin: 10px 0;
	border: 1px solid #000;
	border-radius: 4px;
	box-shadow: rgba(0,0,0,0.25) 4px 4px 5px;
	width: 90%;
	background: #5297ff;
}

.NewsItem h3 {
	margin: 0;
	padding: 10px 15px;
	background: #144da3;
	color: #f5f5f5;
}

.NewsItem h4 {
	font-size: 0.8vw;
	margin: 5px 0 0 10px;
}

.NewsItem span.NewsAuthor {
	font-style: italic;
}

.NewsItem .NewsContent {
	margin: 10px;
}

.NewsItem .NewsTitle a {
	color: inherit;
	text-decoration: none;	
}

.NewsItem .NewsTitle a:hover {
	text-decoration: underline;	
}