<li class="ExamViewSubmitAnswer %%GLOBAL_ExamViewSubmitCorrectAnswer%% %%GLOBAL_ExamViewSubmitSelectedAnswer%%">
<span class="AnswerInline">%%GLOBAL_ExamViewSubmitAnswerIndex%%) %%GLOBAL_ExamViewSubmitAnswerText%%</span>
</li>