<li>
<p class="QuestionText">%%GLOBAL_ExamViewSubmitQuestionIndex%%) %%GLOBAL_ExamViewSubmitQuestionText%%</p>
<p class="QuestionHelp">%%GLOBAL_ExamViewSubmitQuestionHelp%%</p>
	<ul>
		%%GLOBAL_ExamViewSubmitQuestionAnswers%%
	</ul>
</li>