div.ContactFormContainer {
	width: 35vw;
	margin: auto;
	background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,0.25) 4px 4px 5px;
    border: solid 1px #dcdcdc;
}

.ContactForm form {
	margin: 0;
}

.ContactForm .FormFieldText {
	font-size: 0.9em;
    padding: 8px;
    width: 100%;
}

.ContactForm table {
	width: 100%;
}