%%Panel.HTMLHead%%
<body>
<div id="Container">
%%Panel.LeftColumn%%
<div class="WideContent">
	<h1>%%LNG_PrivacyNotice%%</h1>
	
</div> <!-- WideContent -->
%%Panel.Footer%%
</div> <!-- Container -->
</body>