%%Panel.HTMLHead%%
<body>
<div id="Container">
%%Panel.LeftColumn%%
<div class="WideContent">
	<h1>%%LNG_UserDeleteWarning%%</h1>
	<div><a href="%%GLOBAL_AppPath%%/user/delete?userid=%%GLOBAL_UserDeleteUserId%%&confirm=1">%%LNG_Confirm%%</a> | <a href="%%GLOBAL_AppPath%%/user/admin">%%LNG_Cancel%%</a></div>

</div> <!-- WideContent -->
%%Panel.Footer%%
</div> <!-- Container -->
</body>