#LoginFormContainer {
	padding: 20% 40%;
}

#LoginFormSubmit {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.WideContent {
	background: #161616 url(../../Styles/images/backgrounds/bg1.jpg) center center / cover no-repeat;	
}

div.UserLoginForm {
	width: 35vw;
	margin: auto;
	background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,0.25) 4px 4px 5px;
    border: solid 1px #dcdcdc;
}

.LogoCenter {
	margin: 4vw auto;
	width: 20vw;
}

.LogoCenter img {
	width: 100%
}

.WideContent h1 {
	text-align: center;
	font-family: Calibri;
	font-size: 5vw;
	margin: 10px 0; 
}

.UserLoginForm form {
	margin: 0;
}

.UserLoginform .FormFieldText,  .UserLoginform .FormFieldPassword {
	font-size: 0.9em;
    padding: 8px;
    width: 100%;
}
